POSTGRES_DB=chatapp
POSTGRES_USER=chatapp
POSTGRES_PASSWORD=chatapp

DB_URL=jdbc:postgresql://postgres:5432/chatapp
DB_USERNAME=chatapp
DB_PASSWORD=chatapp

RUSTFS_ENDPOINT=http://rustfs:9000
RUSTFS_PUBLIC_URL=/storage
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_BUCKET_NAME=chatapp
RUSTFS_CONSOLE_ENABLE=true

FILE_STORAGE_PROVIDER=rustfs
