POSTGRES_DB=chatapp
POSTGRES_USER=chatapp
POSTGRES_PASSWORD=chatapp

JWTS_SECRET=change-this-to-a-long-random-secret-key-at-least-32-bytes

DB_URL=jdbc:postgresql://postgres:5432/chatapp
DB_USERNAME=chatapp
DB_PASSWORD=chatapp

S3_ENDPOINT=http://versitygw:9000
S3_PUBLIC_URL=/storage
S3_ACCESS_KEY=versityadmin
S3_SECRET_KEY=versityadmin
S3_BUCKET_NAME=chatapp

KILO_BASE_URL=https://api.kilo.ai/api/gateway
KILO_MODEL=minimax/minimax-m2.5:free
CHATBOT_MODEL=minimax/minimax-m2.5:free
KILO_API_KEY=eyJhb...
